{% extends 'base.html' %}

{% block content %}
<!-- admin page only by me, add post, delete posts, etc.. -->
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
          <h2>Write a post here!</h2>
          <div class="form-group">
            <label for="title">Title</label>
            {{ form.title(maxlength=100,type="text",class="form-control",placeholder="Enter title") }}
            <!-- 不需要添加 id 属性，在定义 form 时，WTForm 会自动添加 id 和 name 属性， 在这里都为 "title" -->
          </div>
          <!-- error message goes here -->
          {% for error in form.title.errors %}
              <span style="color:red;">
                  [{{ error }}]
              </span>
              <br>
          {% endfor %}
          <div class="form-group">
            <label for="body">Body</label>
            {{ form.body(type="text",class="form-control",placeholder="Enter body") }}
          </div>
          <!-- error message goes here -->
          {% for error in form.body.errors %}
              <span style="color:red;">
                  [{{ error }}]
              </span>
              <br>
          {% endfor %}
          <div class="form-group">
            <label for="topics">choose topics</label>
            {{ form.topics(class="form-control") }}
          </div>
          <div class="form-group">
            <label for="topic_addition">add a new topic</label>
            {{ form.topic_addition(class="form-control") }}
          </div>
          <div class="form-group">
            <label for="tags">choose tags</label>
            {{ form.tags(class="form-control") }}
          </div>
          <div class="form-group">
            <label for="tag_addition">add a new tag</label>
            {{ form.tag_addition(class="form-control") }}
          </div>
          <input class="btn btn-default" type="submit" value="Post!">
    </form>

    <h2>
        The list of posts
    </h2>
    {% for post in posts %}
        {% include 'post_label.html' %}
        <div>
            <a href="{{ url_for('post_remove', post_id=post.id) }}">
                remove
            </a>
            |
            <a href="{{ url_for('post_edit', post_id=post.id) }}">
                edit
            </a>
        </div>
    {% endfor %}

{% endblock %}
