{% extends 'base.html' %}

{% block content %}

    <div style="padding-top:10px;padding-bottom:30px;font-size:20px">Welcome to my website. Leave your message here!</div>
    <form action="" method="post" name="message">
        <div class="form-group">
          <label for="message_boardNameInput">Name</label>
          <input class="form-control" id="message_boardNameInput" name="visitor" placeholder="Enter name" type="text" value="">
          <!--{{ form.visitor(type="text",class="form-control",id="message_boardNameInput",placeholder="Enter name") }}-->
        </div>
        <div class="form-group">
          <label for="message_boardContentInput">Content</label>
          <textarea class="form-control" id="message_boardContentInput" name="message" placeholder="Enter content"></textarea>
          
        </div>
        <input class="btn btn-default" type="submit" value="Leave Message!">
    </form>

    <h2>
        The messages list:
    </h2>
    <div class="message_list">
      {% for message in messages %}
          <div class="a_piece_of_message">
              {{ message.visitor }} says: {{ message.message }}
          </div>
      {% endfor %}
    </div>

{% endblock %}
