<!-- this is a piece label of a post -->
<p>
    <table>
        <tr valign = "top">
            <td>
                <a href = "{{ url_for('post',post_id = post.id)}}">
                    <h1>
                        {{ post.title }}
                    </h1>
                </a>
            </td>
            <td>
                {{ post.views }} views
            </td>
        </tr>
        <tr>
            <td>
                topic:
                <a href="{{ url_for('topic',topic = post.topic) }}">
                    {{ post.topic }}
                </a>
            </td>
            <td>
                tags:
                {% for tag in post.tags %}
                    <a href="{{ url_for('tag',tag = tag) }}">
                        {{ tag }}
                    </a>
                    |
                {% endfor %}
            </td>
            <td>
                {{ post.timestamp }}
            </td>
        </tr>
    </table>
</p>
